/* ===== Configuración global ===== */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 100px; /* Para separar del header */
    font-family: 'Archivo-Regular';
    line-height: 1.6;
}

h1 {
    font-size: 50px;
    line-height: 0.85;
    font-family: 'Archivo-Bold';
}

h2 {
    font-size: 50px;
    line-height: 0.85;
    font-family: 'Archivo-Bold';
}

h3 {
    font-size: 20px;
    line-height: 0.95;
    font-family: 'Archivo-SemiBold';
}

h4 {
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Archivo-Regular';
}

p {
    font-size: 14px;
    line-height: 0.95;
    font-family: 'Archivo-Regular';
}

.btn-format {
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: black;
    min-width: 250px;
    padding: 10px 40px;
    border-radius: 50px;
    display: inline-block;
    white-space: nowrap;
}

.btn-format:hover {
    background-color: #453dde;
    color: #fff;
}

.btn-format-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    min-width: 250px;
    padding: 8px 35px;
    border-radius: 50px;
}

.btn-format-button:hover {
    background-color: #453dde;
    color: #fff;
}

/* ============ HEADER ============*/

.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    padding: 0 210px;
    background-color: #ffffff;
    border-bottom: 0.5px solid #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* ============ LOGO ============= */

.logo {
    height: 40px;
    width: auto;
    display: block;
}

/* ============ NAVEGACIÓN ============*/

.navs-container {
    justify-content: space-between;
    list-style: none;
    display: flex;
    flex: 1;
}

.navs-list-container {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.navs-item {
    list-style: none;
    position: relative;
}

.nav-link {
    display: flex;
    align-items: center;
    border-bottom: 4px solid transparent;
    padding: 28px 0;
}

.nav-link:hover {
    border-bottom: #000 solid 3px;
}

.navs-item a {
    text-decoration: none;
    color: inherit;
}

.arrow-down-icon {
    width: 12px;
    height: 12px;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.navs-item:hover .arrow-down-icon {
    transform: rotate(180deg);
}

/* ======== BOTÓN MI PORTAL ======== */

.button-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.login-button {
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 5px 40px;
    border-radius: 50px;
    display: inline-block;
    white-space: nowrap;
}

.login-button:hover {
    background-color: #453dde;
    color: #fff;
}

/* ============ SUBMENÚ ============ */

/* Submenú oculto */
.submenu {
    list-style: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #f5f5f5;
    min-width: 400px;
    padding: 0 0 5px 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.submenu a {
    display: block;
    padding: 12px 30px;
    border: 1px solid transparent;
}

/* Submenú visible al hacer hover */
.navs-item:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.submenu a:hover {
    color: #fff;
    background-color: #000;
}

.submenu::before {
    content: "";
    position: absolute;
    width: 100vh;
}






