/* ===== Configuración global ===== */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 100px; /* Para separar del header */
    font-family: 'Archivo-Regular';
    line-height: 1.6;
}

h1 {
    font-size: 50px;
    line-height: 0.85;
    font-family: 'Archivo-Bold';
}

h2 {
    font-size: 50px;
    line-height: 0.85;
    font-family: 'Archivo-Bold';
}

h3 {
    font-size: 20px;
    line-height: 0.95;
    font-family: 'Archivo-SemiBold';
}

h4 {
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Archivo-Regular';
}

p {
    font-size: 14px;
    line-height: 0.95;
    font-family: 'Archivo-Regular';
}

.btn-format {
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: black;
    min-width: 250px;
    padding: 10px 40px;
    border-radius: 50px;
    display: inline-block;
    white-space: nowrap;
}

.btn-format:hover {
    background-color: #453dde;
    color: #fff;
}

.btn-format-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    min-width: 250px;
    padding: 8px 35px;
    border-radius: 50px;
}

.btn-format-button:hover {
    background-color: #453dde;
    color: #fff;
}

/* HERO */

.hero-section {
    padding: 40px 210px 0 210px;

}

.hero-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    background-color: #f6f6f6;
    border-radius: 15px;
    height: 600px;
    width: 100%;
    padding: 80px 0 0 80px;
}

.hero-section h1 {
    max-width: 600px;
}

/* ==== SECCIÓN DE CARRERAS ==== */

/* Contenedor Principal */
.carreras-section {
    display: flex;
    padding: 5px 210px;
}

/* Subtítulos Separadores */

.subtitulos-container {
    display: flex;
    padding: 20px 0;
    margin-left: 250px;
    gap: 20px;
}

.flecha-decorativa {
    width: 50px;
    height: auto;
}

/* Tarjetas de Carreras */

.carreras-section {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 30px;
}

.carreras-radio {
    display: none;
}

.carrera-icon {
    width: 50px;
    height: auto;
}

.carrera-card {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    align-items: center;
    text-align: left;
    cursor: pointer;
    padding: 30px 20px;
    border-radius: 10px;
    height: 320px;
    gap: 20px;
    background-color: #f9f9f9;
    grid-column: span 1;
}

.carreras-names {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin: 0;
    transition: all 0.4s ease;
}

.carreras-descriptions {
    opacity: 0;
    color: #fff;
    transition: opacity 0.4s ease, max-height 0.5s ease;
}

/* ACCIONES AL DARLE CHECK A CARRERAS */

.carreras-radio:checked + .carrera-card {
    align-items: baseline;
    background-color: #000;
    grid-column: span 4;
    padding: 30px 30px;
}

.carreras-radio:checked + .carrera-card .carrera-icon {
    width: 70px;
    height: 70px;
    border-color: #fff;
    filter: brightness(0) invert(1);
}

.carreras-radio:checked + .carrera-card .carreras-names {
    writing-mode: horizontal-tb;
    text-orientation: initial;
    color: #fff;
    font-size: 24px;
}

.carreras-radio:checked + .carrera-card .carreras-descriptions {
    opacity: 1;
}

/* FORMULARIO SECTION */

.form-section {
    background-color: #f9f9f9;
    padding: 80px 0;
}

.form-section-container {
    display: flex;
    flex-direction: row;
    padding: 0 210px;
    gap: 60px;
    height: 450px;
    align-items: center;
}

.form-section-left {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.form-section-rigth {
    display: flex;
    width: 50%;
}

.CTA-container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

/* FORMULARIO */

/*CAJA DEL FORMULARIO*/

.form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap:25px;
    padding: 80px 100px;
    border-radius: 15px;
    width: 100%;
}

/*SELECTOR DE MODALIDADES*/

.modalidad-selector {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.label-modalidad {
    cursor: pointer;
    transition: all 0.3s ease;
}

.input-modalidad:checked + .label-modalidad {
    color: #000;
    border-color: #453dde;
}

.input-modalidad {
    margin-right: -20px;
}

/*INPUTS DEL FORMULARIO*/

.form-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/*DISEÑO DE LOS INPUTS*/

.input-date {
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #666666;
    color: #bebebe;
    outline: none;
    width: 100%;
}

.input-mail {
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #666666;
    color: #bebebe;
    outline: none;
    width: 100%;
    grid-column: 1/-1;
}

.input-date:focus {
    border: 2px solid #000000;
    
}

.politicas-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.checkbox-politicas {
    cursor: pointer;
}

.link-politicas {
    color: #000;
    text-decoration: underline;
}

/* UBICACIÓN DEL BOTÓN (DISEÑO YA ESTÁ PREESTABLECIDO AL INICIO) */
.button-enviar-mis-datos {
    display: flex;
    align-items: center;
    justify-content: center;
}






